# 第 4 章：数据组合

In [2]:
# 加载几个数据集，展示如何连接数据集
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

print(df1)
print('-' * 50)
print(df2)
print('-' * 50)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
--------------------------------------------------
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
--------------------------------------------------
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [15]:
# concat示例
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

row_concat = pd.concat([df1, df2, df3])
print(row_concat.head())

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4

In [19]:
# concat示例
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

row_concat = pd.concat([df1, df2, df3])
print(row_concat.loc[3])

     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

In [20]:
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])    # 新建一行数据
a = pd.concat([df1, new_row_series])                    # 尝试向 DataFrame 中添加新行
print(a)

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [28]:
# series加入dataframe
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
# 注意使用了两个方括号，这样 shape 是 [1, 4], 一个方括号，shape 是 [4, 1]
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']],  
                        columns=['A', 'B', 'C', 'D'])
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [32]:
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
print(df1.append(df2))          # 添加一个dataframe

data_dict = {'A': 'n1', 'B': 'n2', 'C': 'n3', 'D': 'n4'}
# 使用 Python 字典添加数据行
# 需设置参数 ignore_index=True 忽略掉索引
print(df1.append(data_dict, ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

In [35]:
# ignore_index示例
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [41]:
# 按列名取子集
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

col_concat = pd.concat([df1, df2, df3], axis=1)
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [44]:
# 添加列series方法
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

col_concat = pd.concat([df1, df2, df3], axis=1)
col_concat['new_col_series'] = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_series
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8             n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9             n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10             n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11             n4

In [6]:
# 连接具有不同列的行
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

# 调整 DataFrame 的列
df1.columns = ['A', 'B', 'C', 'D']
df2.columns = ['E', 'F', 'G', 'H']
df3.columns = ['A', 'C', 'F', 'H']

# 只保留共有的列，使用 join 参数实现
print(pd.concat([df1, df2, df3], join='inner')) # 此处会返回空，因为上面3个DataFrame 无共有列

# 连接 DataFrame 有相同的列
print(pd.concat([df1, df3], ignore_index=False, join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]
     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [7]:
# 连接具有不同行的列
import pandas as pd

df1 = pd.read_csv('../pandas_for_everyone-master/data/concat_1.csv')
df2 = pd.read_csv('../pandas_for_everyone-master/data/concat_2.csv')
df3 = pd.read_csv('../pandas_for_everyone-master/data/concat_3.csv')

# 调整 DataFrame 的行索引
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]

# 只保留索引匹配的结果，参数 join='inner'
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D   A   B   C   D
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

In [8]:
# 预览几个数据集
import pandas as pd

person = pd.read_csv('../pandas_for_everyone-master/data/survey_person.csv')
site = pd.read_csv('../pandas_for_everyone-master/data/survey_site.csv')
survey = pd.read_csv('../pandas_for_everyone-master/data/survey_survey.csv')
visited = pd.read_csv('../pandas_for_everyone-master/data/survey_visited.csv')

print(person)
print(site)
print(survey)
print(visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [10]:
# 一对一合并
# 修改 visited DataFrame 使其不含重复的 site 值
visited_subset = visited.loc[[0, 2, 6], ]

# merge 函数的参数 how 默认值为 inner
# 这里无需专门指定
o2o_merge = site.merge(visited_subset, left_on='name', right_on='site')
print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [11]:
m2o_merge = site.merge(visited, left_on='name', right_on='site')
print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [13]:
# 合并生成 ps、vs 两个 DataFrame
ps = person.merge(survey, left_on='ident', right_on='person')
vs = visited.merge(survey, left_on='ident', right_on='taken')

# 将要匹配的多列，以列表形式传入 merge 函数
ps_vs = ps.merge(vs, left_on=['ident', 'taken', 'quant', 'reading'], right_on=['person', 'ident', 'quant', 'reading'])
print(ps_vs.head())

  ident_x personal   family  taken_x person_x quant  reading  ident_y  site  \
0    dyer  William     Dyer      619     dyer   rad     9.82      619  DR-1
1    dyer  William     Dyer      619     dyer   sal     0.13      619  DR-1
2    dyer  William     Dyer      622     dyer   rad     7.80      622  DR-1
3    dyer  William     Dyer      622     dyer   sal     0.09      622  DR-1
4      pb    Frank  Pabodie      734       pb   rad     8.41      734  DR-3

        dated  taken_y person_y
0  1927-02-08      619     dyer
1  1927-02-08      619     dyer
2  1927-02-10      622     dyer
3  1927-02-10      622     dyer
4  1939-01-07      734       pb

# 第 5 章：缺失数据

In [1]:
# 从 NumPy 导入缺失值
from numpy import NaN, NAN, nan

print(NaN == True)      # 缺失值不等于 True，输出 False
print(NaN == False)     # 缺失值也不是 False，输出 False
print(NaN == 0)         # 缺失值也不是 0，输出 False
print(NaN == '')        # 缺失值也不是 空字符串，输出 False
print(NaN == NaN)       # 一个缺失值也不等于另一个缺失值，输出 False

False
False
False
False
False

In [4]:
# isnull, notnull 测试缺失值
import pandas as pd

print(pd.isnull(NaN))           # NaN 为缺失值，输出 True
print(pd.isnull(nan))           # nan 为缺失值，输出 True
print(pd.isnull(NAN))           # NAN 为缺失值，输出 True

print(pd.notnull(NaN))          # NaN 为缺失值，输出 False
print(pd.notnull(42))           # 42 为非缺失值，输出 True
print(pd.notnull('message'))    # 'message' 为非缺失值，输出 True

True
True
True
False
True
True

In [6]:
# 指定数据位置
visited_file = '../pandas_for_everyone-master/data/survey_visited.csv'

# 使用默认值加载数据
print(pd.read_csv(visited_file))
print('-' * 50)

# 加载数据，不包含默认缺失值
print(pd.read_csv(visited_file, keep_default_na=False))
print('-' * 50)

# 手动指定缺失值
print(pd.read_csv(visited_file, na_values=[''], keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
--------------------------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22
--------------------------------------------------
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [8]:
# 合并数据产生缺失值
visited = pd.read_csv('../pandas_for_everyone-master/data/survey_visited.csv')
survey = pd.read_csv('../pandas_for_everyone-master/data/survey_survey.csv')

vs = visited.merge(survey, left_on='ident', right_on='taken')   
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [10]:
# Series 包含缺失值
num_legs = pd.Series({'goat': 4, 'amoeba': nan})
print(num_legs)
print('-' * 50)

# DataFrame 包含缺失值
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'missing': [NaN, nan]
})
print(scientists)
print('-' * 50)

# 直接把一列缺失值赋给 DataFrame
scientists = scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
})

scientists['missing'] = nan
print(scientists)

goat      4.0
amoeba    NaN
dtype: float64
--------------------------------------------------
                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
--------------------------------------------------
                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

In [13]:
gapminder = pd.read_csv('../pandas_for_everyone-master/data/gapminder.tsv', sep='\t')

life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [30]:
# 加入 loc 进行切片
gapminder = pd.read_csv('../pandas_for_everyone-master/data/gapminder.tsv', sep='\t')

life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp.loc[[2000, 2002], ])

KeyError: 'Passing list-likes to .loc or [] with any missing labels is no longer supported, see https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike'

In [29]:
# 加入 loc 进行切片
gapminder = pd.read_csv('../pandas_for_everyone-master/data/gapminder.tsv', sep='\t')

life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

# 调用 reindex 方法
print(y2000.reindex(range(2000, 2010))) # 此方法相当于重建了新的索引，所以可以展示新索引对应的缺失值

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64
year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

In [32]:
# 读取数据集 country_timeseries.csv
ebola = pd.read_csv('../pandas_for_everyone-master/data/country_timeseries.csv')

# 统计非缺失值的个数
print(ebola.count())
print('-' * 50)

# 总行数减去不包含缺失值的行数
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64
--------------------------------------------------
Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [35]:
# NumPy 统计缺失值
import numpy as np

ebola = pd.read_csv('../pandas_for_everyone-master/data/country_timeseries.csv')
print(np.count_nonzero(ebola.isnull()))                     # 统计缺失值总数
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))     # 统计'Cases_Guinea' 列中缺失值个数

1214
29

In [38]:
# value_counts 方法获取缺失值个数
import numpy as np

ebola = pd.read_csv('../pandas_for_everyone-master/data/country_timeseries.csv')
print(ebola.Cases_Guinea.value_counts(dropna=False))

NaN       29
86.0       3
495.0      2
112.0      2
390.0      2
          ..
235.0      1
231.0      1
226.0      1
224.0      1
2776.0     1
Name: Cases_Guinea, Length: 89, dtype: int64

In [39]:
# 把缺失值重新编码为 0
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [40]:
# 前值填充
print(ebola.fillna(method='ffill').iloc[0:10, 0:5]) # ffill fill forward(前值填充)

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [41]:
# 后值填充
print(ebola.fillna(method='bfill').iloc[:, 0:5].tail())

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

In [42]:
# Pandas插值
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [44]:
# 读取 ebola 数据集的形状
print(ebola.shape)

# 删除含有 NA 的行或列后得到的数据集形状
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)
print(ebola_dropna)

(122, 18)
(1, 18)
          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

In [45]:
# 生成包含病例统计数的新列
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + \
                        ebola['Cases_Liberia'] + \
                        ebola['Cases_SierraLeone']

# 查看前10行的计算结果
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']]
print(ebola_subset)

     Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0          2776.0            NaN            10030.0             NaN
1          2775.0            NaN             9780.0             NaN
2          2769.0         8166.0             9722.0         20657.0
3             NaN         8157.0                NaN             NaN
4          2730.0         8115.0             9633.0         20478.0
..            ...            ...                ...             ...
117         103.0            8.0                6.0           117.0
118          86.0            NaN                NaN             NaN
119          86.0            NaN                NaN             NaN
120          86.0            NaN                NaN             NaN
121          49.0            NaN                NaN             NaN

[122 rows x 4 columns]

# 第 6 章：整理数据

In [1]:
# 导入美国收入和宗教信仰数据
import pandas as pd

pew = pd.read_csv('../pandas_for_everyone-master/data/pew.csv')
print(pew)

                   religion  <$10k  $10-20k  $20-30k  $30-40k  $40-50k  \
0                  Agnostic     27       34       60       81       76
1                   Atheist     12       27       37       52       35
2                  Buddhist     27       21       30       34       33
3                  Catholic    418      617      732      670      638
4        Don’t know/refused     15       14       15       11       10
5          Evangelical Prot    575      869     1064      982      881
6                     Hindu      1        9        7        9       11
7   Historically Black Prot    228      244      236      238      197
8         Jehovah's Witness     20       27       24       24       21
9                    Jewish     19       19       25       25       30
10            Mainline Prot    289      495      619      655      651
11                   Mormon     29       40       48       51       56
12                   Muslim      6        7        9       10        9
13                 Orthodox     13       17       23       32       32
14          Other Christian      9        7       11       13       13
15             Other Faiths     20       33       40       46       49
16    Other World Religions      5        2        3        4        2
17             Unaffiliated    217      299      374      365      341

    $50-75k  $75-100k  $100-150k  >150k  Don't know/refused
0       137       122        109     84                  96
1        70        73         59     74                  76
2        58        62         39     53                  54
3      1116       949        792    633                1489
4        35        21         17     18                 116
5      1486       949        723    414                1529
6        34        47         48     54                  37
7       223       131         81     78                 339
8        30        15         11      6                  37
9        95        69         87    151                 162
10     1107       939        753    634                1328
11      112        85         49     42                  69
12       23        16          8      6                  22
13       47        38         42     46                  73
14       14        18         14     12                  18
15       63        46         40     41                  71
16        7         3          4      4                   8
17      528       407        321    258                 597

In [5]:
import pandas as pd

pew = pd.read_csv('../pandas_for_everyone-master/data/pew.csv')

# 不指定 value_vars，因为想对除“religion”列以外的所有列进行透视
pew_long = pd.melt(pew, id_vars='religion')
print(pew_long.head())  # 打印前5行
print(pew_long.tail())  # 打印后5行
print('-' * 50)

# 更改默认值，以便命名进行融合、逆透视的列
pew_long = pd.melt(pew, id_vars='religion', var_name='income', value_name='count')
print(pew_long.head())
print(pew_long.tail())

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15
                  religion            variable  value
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597
--------------------------------------------------
             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15
                  religion              income  count
175               Orthodox  Don't know/refused     73
176        Other Christian  Don't know/refused     18
177           Other Faiths  Don't know/refused     71
178  Other World Religions  Don't know/refused      8
179           Unaffiliated  Don't know/refused    597

In [7]:
# 固定多列
# 导入数据集 billboard
import pandas as pd

billboard = pd.read_csv('../pandas_for_everyone-master/data/billboard.csv')
print(billboard.head())
print('-' * 50)

billboard_long = pd.melt(
                billboard,                                                          # 数据集为 billboard
                id_vars=['year', 'artist', 'track', 'time', 'date.entered'],        # 需要固定的多个列
                var_name='week',                                                    # 逆透视的列融合而成的数据，列名为 week
                value_name='rating'                                                 # 放置逆透视融合数据的值的组成的列，列名为 rating
                )
print(billboard_long.head())
print(billboard_long.tail())

   year        artist                    track  time date.entered  wk1   wk2  \
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26   87  82.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02   91  87.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08   81  70.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21   76  76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15   57  34.0

    wk3   wk4   wk5  ...  wk67  wk68  wk69  wk70  wk71  wk72  wk73  wk74  \
0  72.0  77.0  87.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1  92.0   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2  68.0  67.0  66.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3  72.0  69.0  67.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4  25.0  17.0  17.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   wk75  wk76
0   NaN   NaN
1   NaN   NaN
2   NaN   NaN
3   NaN   NaN
4   NaN   NaN

[5 rows x 81 columns]
--------------------------------------------------
   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0
       year            artist                    track  time date.entered  \
24087  2000       Yankee Grey     Another Nine Minutes  3:10   2000-04-29
24088  2000  Yearwood, Trisha          Real Live Woman  3:55   2000-04-01
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19   2000-03-18
24090  2000     Zombie Nation            Kernkraft 400  3:30   2000-09-02
24091  2000   matchbox twenty                     Bent  4:12   2000-04-29

       week  rating
24087  wk76     NaN
24088  wk76     NaN
24089  wk76     NaN
24090  wk76     NaN
24091  wk76     NaN

In [9]:
# 包含多个变量的列
import pandas as pd

ebola = pd.read_csv('../pandas_for_everyone-master/data/country_timeseries.csv')
print(ebola.columns)        # 查看数据集 ebola 的字段名（列名）
print(ebola.iloc[:5, [0, 1, 2, 3, 10, 11]]) # 查看数据集的前5行，及选定的列

Index(['Date', 'Day', 'Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone',
       'Cases_Nigeria', 'Cases_Senegal', 'Cases_UnitedStates', 'Cases_Spain',
       'Cases_Mali', 'Deaths_Guinea', 'Deaths_Liberia', 'Deaths_SierraLeone',
       'Deaths_Nigeria', 'Deaths_Senegal', 'Deaths_UnitedStates',
       'Deaths_Spain', 'Deaths_Mali'],
      dtype='object')
         Date  Day  Cases_Guinea  Cases_Liberia  Deaths_Guinea  Deaths_Liberia
0    1/5/2015  289        2776.0            NaN         1786.0             NaN
1    1/4/2015  288        2775.0            NaN         1781.0             NaN
2    1/3/2015  287        2769.0         8166.0         1767.0          3496.0
3    1/2/2015  286           NaN         8157.0            NaN          3496.0
4  12/31/2014  284        2730.0         8115.0         1739.0          3471.0

In [10]:
import pandas as pd

ebola = pd.read_csv('../pandas_for_everyone-master/data/country_timeseries.csv')
ebola_long = pd.melt(ebola, id_vars=['Date', 'Day'])    # 对数据集进行逆透视
print(ebola_long.head())
print(ebola_long.tail())

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0
           Date  Day     variable  value
1947  3/27/2014    5  Deaths_Mali    NaN
1948  3/26/2014    4  Deaths_Mali    NaN
1949  3/25/2014    3  Deaths_Mali    NaN
1950  3/24/2014    2  Deaths_Mali    NaN
1951  3/22/2014    0  Deaths_Mali    NaN

In [12]:
# 获取 variable 列
# 访问字符串方法
# 依据分隔符拆分列
variable_split = ebola_long.variable.str.split('_')     # 将 variable 列按照分隔符（_）进行拆分
print(variable_split[:5])                               # 打印拆分后的列的前5行
print(variable_split[-5:])                              # 打印拆分后的列的后5行

print(type(variable_split))                             # 打印拆分后的列的数据类型
print(type(variable_split[0]))                          # 打印容器中的第一个元素的类型

0    [Cases, Guinea]
1    [Cases, Guinea]
2    [Cases, Guinea]
3    [Cases, Guinea]
4    [Cases, Guinea]
Name: variable, dtype: object
1947    [Deaths, Mali]
1948    [Deaths, Mali]
1949    [Deaths, Mali]
1950    [Deaths, Mali]
1951    [Deaths, Mali]
Name: variable, dtype: object
<class 'pandas.core.series.Series'>
<class 'list'>

In [13]:
# 提取拆分列得到的部分
status_values = variable_split.str.get(0)
country_values = variable_split.str.get(1)

print(status_values[:5])
print(status_values[-5:])

print(country_values[:5])
print(country_values[-5:])

0    Cases
1    Cases
2    Cases
3    Cases
4    Cases
Name: variable, dtype: object
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, dtype: object
0    Guinea
1    Guinea
2    Guinea
3    Guinea
4    Guinea
Name: variable, dtype: object
1947    Mali
1948    Mali
1949    Mali
1950    Mali
1951    Mali
Name: variable, dtype: object

In [14]:
# 将所得部分赋值到新列
ebola_long['status'] = status_values
ebola_long['country'] = country_values

print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [17]:
# 在单个步骤中进行拆分和组合
# 因为拆分组合的2次，所以有2个status和country列

variable_split = ebola_long.variable.str.split('_', expand=True)
variable_split.columns = ['status', 'country']
ebola_parsed = pd.concat([ebola_long, variable_split], axis=1)
print(ebola_parsed.head())
print(ebola_parsed.tail())

         Date  Day      variable   value status country status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea  Cases  Guinea
           Date  Day     variable  value  status country  status country
1947  3/27/2014    5  Deaths_Mali    NaN  Deaths    Mali  Deaths    Mali
1948  3/26/2014    4  Deaths_Mali    NaN  Deaths    Mali  Deaths    Mali
1949  3/25/2014    3  Deaths_Mali    NaN  Deaths    Mali  Deaths    Mali
1950  3/24/2014    2  Deaths_Mali    NaN  Deaths    Mali  Deaths    Mali
1951  3/22/2014    0  Deaths_Mali    NaN  Deaths    Mali  Deaths    Mali

In [18]:
# zip函数示例
contants = ['pi', 'e']
values = ['3.14', '2.718']

# 为了显示 zip 对象的内容，必须使用列表把 zip 函数包裹起来
# 在 Python3 中，zip 函数返回一个迭代器
print(list(zip(contants, values)))

[('pi', '3.14'), ('e', '2.718')]

In [23]:
ebola_long['status'], ebola_long['country'] = zip(*ebola_long.variable.str.split('_'))
print(ebola_long.head())

         Date  Day      variable   value status country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [24]:
# 查看weather数据集
weather = pd.read_csv('../pandas_for_everyone-master/data/weather.csv')
print(weather.iloc[:5, :11])

        id  year  month element  d1    d2    d3  d4    d5  d6  d7
0  MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN
1  MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN
2  MX17004  2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN
3  MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN
4  MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN

In [25]:
# 首先对 day 值进行融合/逆透视
weather_melt = pd.melt(weather, 
                id_vars=['id', 'year', 'month', 'element'],
                var_name='day',
                value_name='temp')
print(weather_melt.head())
print(weather_melt.tail())

# 将 element 列在存储的变量展开，类似透视过程
weather_tidy = weather_melt.pivot_table(
                    index=['id', 'year', 'month', 'day'], 
                    columns='element',
                    values='temp'
)
weather_tidy_flat = weather_tidy.reset_index()
print(weather_tidy_flat.head())

# 可以不使用中间 DataFrame 而直接使用此方法
weather_tidy = weather_melt.pivot_table(
            index=['id', 'year', 'month', 'day'],
            columns='element',
            values='temp').reset_index()
print(weather_tidy.head())

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN
          id  year  month element  day  temp
677  MX17004  2010     10    tmin  d31   NaN
678  MX17004  2010     11    tmax  d31   NaN
679  MX17004  2010     11    tmin  d31   NaN
680  MX17004  2010     12    tmax  d31   NaN
681  MX17004  2010     12    tmin  d31   NaN
element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4

In [26]:
# 以 billboard 数据集为例
print(billboard_long.head())
print(billboard_long[billboard_long.track == 'Loser'].head())

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0
      year        artist  track  time date.entered week  rating
3     2000  3 Doors Down  Loser  4:24   2000-10-21  wk1    76.0
320   2000  3 Doors Down  Loser  4:24   2000-10-21  wk2    76.0
637   2000  3 Doors Down  Loser  4:24   2000-10-21  wk3    72.0
954   2000  3 Doors Down  Loser  4:24   2000-10-21  wk4    69.0
1271  2000  3 Doors Down  Loser  4:24   2000-10-21  wk5    67.0

In [27]:
# 获取单独的歌曲 DataFrame
billboard_songs = billboard_long[['year', 'artist', 'track', 'time']]
print(billboard_songs.shape)

billboard_songs = billboard_songs.drop_duplicates() # 删除数据集中的重复行
print(billboard_songs.shape)        # 对比形状的变化，可知不重复的行仅有317行，而总行数有24092行

billboard_songs['id'] = range(len(billboard_songs)) # 根据行数分配唯一的id，与SQL中默认id相似，但以0开始
print(billboard_songs.head(n=10))

(24092, 4)
(317, 4)
   year          artist                    track  time  id
0  2000           2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000         2Ge+her  The Hardest Part Of ...  3:15   1
2  2000    3 Doors Down               Kryptonite  3:53   2
3  2000    3 Doors Down                    Loser  4:24   3
4  2000        504 Boyz            Wobble Wobble  3:35   4
5  2000            98^0  Give Me Just One Nig...  3:24   5
6  2000         A*Teens            Dancing Queen  3:44   6
7  2000         Aaliyah            I Don't Wanna  4:15   7
8  2000         Aaliyah                Try Again  4:03   8
9  2000  Adams, Yolanda            Open My Heart  5:30   9

In [29]:
# 把歌曲 DataFrame 合并到原数据集
billboard_ratings = billboard_long.merge(
                    billboard_songs, on=['year', 'artist', 'track', 'time'])
print(billboard_ratings.shape)
print(billboard_ratings.head())

# 取出想要放入排行 DataFrame 中的列子集
billboard_ratings = billboard_ratings[['id', 'date.entered', 'week', 'rating']]
print(billboard_ratings.head())

(24092, 8)
   year artist                    track  time date.entered week  rating  id
0  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0   0
1  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk2    82.0   0
2  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk3    72.0   0
3  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk4    77.0   0
4  2000  2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk5    87.0   0
   id date.entered week  rating
0   0   2000-02-26  wk1    87.0
1   0   2000-02-26  wk2    82.0
2   0   2000-02-26  wk3    72.0
3   0   2000-02-26  wk4    77.0
4   0   2000-02-26  wk5    87.0

In [30]:
# 数据下载代码
# 只下载前5个数据集
import os, urllib

with open('../pandas_for_everyone-master/data/raw_data_urls.txt', 'r') as data_urls:
    for line, url in enumerate(data_urls):
        if line == 5:
            break
        fn = url.split('/')[-1].strip()
        fp = os.path.join('..', 'pandas_for_everyone-master', 'data', fn)
        print(url)
        print(fp)
        urllib.request.urlretrieve(url, fp)

https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv

..\pandas_for_everyone-master\data\fhv_tripdata_2015-01.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-02.csv

..\pandas_for_everyone-master\data\fhv_tripdata_2015-02.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-03.csv

..\pandas_for_everyone-master\data\fhv_tripdata_2015-03.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-04.csv

..\pandas_for_everyone-master\data\fhv_tripdata_2015-04.csv
https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-05.csv

..\pandas_for_everyone-master\data\fhv_tripdata_2015-05.csv

In [35]:
# 获取要加载的文件名列表
import glob, pprint

# 从 nyc_taxi 数据文件夹获得 csv 文件列表
nyc_taxi_data = glob.glob('../pandas_for_everyone-master/data/fhv_*')
pprint.pprint(nyc_taxi_data)

# 把这些文件都加载到 DataFrame 中
taxi1 = pd.read_csv(nyc_taxi_data[0])
taxi2 = pd.read_csv(nyc_taxi_data[1])
taxi3 = pd.read_csv(nyc_taxi_data[2])
taxi4 = pd.read_csv(nyc_taxi_data[3])
taxi5 = pd.read_csv(nyc_taxi_data[4])

print('查看各数据集: ')
print(taxi1.head(n=2))
print(taxi2.head(n=2))
print(taxi3.head(n=2))
print(taxi4.head(n=2))
print(taxi5.head(n=2))

print('查看各数据集shape: ')
print(taxi1.shape)
print(taxi2.shape)
print(taxi3.shape)
print(taxi4.shape)
print(taxi5.shape)

print('连接 DataFrame')
taxi = pd.concat([taxi1, taxi2, taxi3, taxi4, taxi5])
print(taxi.shape)

['../pandas_for_everyone-master/data\\fhv_tripdata_2015-01.csv',
 '../pandas_for_everyone-master/data\\fhv_tripdata_2015-02.csv',
 '../pandas_for_everyone-master/data\\fhv_tripdata_2015-03.csv',
 '../pandas_for_everyone-master/data\\fhv_tripdata_2015-04.csv',
 '../pandas_for_everyone-master/data\\fhv_tripdata_2015-05.csv']
查看各数据集:
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-02-01 00:00:00         NaN
1               B00013  2015-02-01 00:01:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00029  2015-03-01 00:02:00       213.0
1               B00029  2015-03-01 00:03:00        51.0
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-04-01 04:30:00         NaN
1               B00001  2015-04-01 06:00:00         NaN
  Dispatching_base_num          Pickup_date  locationID
0               B00001  2015-05-01 04:30:00         NaN
1               B00001  2015-05-01 05:00:00         NaN
查看各数据集shape:
(2746033, 3)
(3126401, 3)
(3281427, 3)
(3917789, 3)
(4296067, 3)
连接 DataFrame
(17367717, 3)

In [36]:
# 创建一个待添加元素的空列表
list_taxi_df = []

# 循环遍历每个 CSV 文件名
for csv_filename in nyc_taxi_data:
    # 可以选择输出文件名以便调试
    print(csv_filename)

    # 把 CSV 文件加载到 DataFrame 中
    df = pd.read_csv(csv_filename)

    # 把 DataFrame 添加到列表中
    list_taxi_df.append(df)

# 列表中 DataFrame 的个数
print(len(list_taxi_df))

# 第一个元素的类型
print(type(list_taxi_df[0]))

# 查看第一个DataFrame的前5行数据
print(list_taxi_df[0].head())

# 将列表中的 DataFrame 连接在一起
taxi_loop_concat = pd.concat(list_taxi_df)
print(taxi_loop_concat.shape)

# 判断手动加载连接与循环加载连接得到的结果是否一致
print(taxi.equals(taxi_loop_concat))

../pandas_for_everyone-master/data\fhv_tripdata_2015-01.csv
../pandas_for_everyone-master/data\fhv_tripdata_2015-02.csv
../pandas_for_everyone-master/data\fhv_tripdata_2015-03.csv
../pandas_for_everyone-master/data\fhv_tripdata_2015-04.csv
../pandas_for_everyone-master/data\fhv_tripdata_2015-05.csv
5
<class 'pandas.core.frame.DataFrame'>
  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN
(17367717, 3)
True

In [37]:
# 使用列表推导式重写
list_taxi_df_comp = [pd.read_csv(data) for data in nyc_taxi_data]
print(type(list_taxi_df_comp))
taxi_loop_concat_comp = pd.concat(list_taxi_df_comp)

# 最终结果是否一致
print(taxi_loop_concat_comp.equals(taxi_loop_concat))

<class 'list'>
True

In [38]:
# 列表推导式示例
multiples = [i for i in range(30) if i % 3 is 0]
print(multiples)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Administrator\AppData\Local\Temp/ipykernel_15112/2433538309.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  multiples = [i for i in range(30) if i % 3 is 0]

In [39]:
# for 循环生成新列表
squared1 = []
for x in range(10):
    squared1.append(x**2)
print(squared1)

# 列表推导式生成新列表
squared2 = [x**2 for x in range(10)]
print(squared2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]